<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rudolf II.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        form {
            margin-bottom: 40px;
        }
    </style>

</head>
<body>
	<h1>Rudolf II.</h1>
    <form action="#" th:action="@{/rudolf/put}" method="post">
        <table>
            <tr>
                <td>Id</td>
                <td><input type="text" th:value="${action.id}" name="id" /></td>
            </tr>
            <tr>
                <td>Nazev akce</td>
                <td><input type="text"  th:value="${action.name}" name="name" /></td>
            </tr>
            <tr>
                <td>Misto konani</td>
                <td><input type="text"  th:value="${action.place}" name="place" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Pridat akci" /></td>
                <td></td>
            </tr>
        </table>
    </form>
        
   <form action="#" th:action="@{/rudolf/delete}" method="post">
       <table>
            <tr>
                <td>Id</td>
                <td><input type="text" th:value="${action.id}" name="id" /></td>
            </tr>

            <tr>
                <td><input type="submit" value="Vymazat akci" /></td>
                <td></td>
            </tr>
        </table>
    </form>
        
</body>
</html>