<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Webova stranka Ceske filharmonie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        centrDiv {
            width: 80%;
            text-align: center;
            border: 2px solid black;
            background: #aaa;
        }
</style>
</head>
<body>
    <div id="centrDiv">
	<h1>Web České filharmonie</h1>
        <p>Na web Cf dorazily tyto prikazy:</p>
            <table>
	      <tr>
                <th>Prikaz</th>
	        <th>ID</th>
	        <th>Nazev</th>
                <th>Misto konani</th>
	      </tr>
	      <tr th:each="action : ${action}">
                <td th:text="${action.request}"></td>
                <td th:text="${action.action.id}"></td>
	        <td th:text="${action.action.name}"></td>
                <td th:text="${action.action.place}"></td>
	      </tr>
	    </table>
        </div>
</body>
</html>